<div class="div-principal p-5">

  <p class="mb-5">pagina1 works!</p>

  <div class="d-flex justify-content-evenly mb-5">
    <button type="button" class="btn btn-warning" (click)="navegarPara([''])"> Pagina Principal </button>
    <button type="button" class="btn btn-primary" (click)="navegarPara(['pagina2'])"> Pagina 2 </button>
  </div>

  <h1>Realizar Entrada</h1>

  <div class="d-flex justify-content-evenly mt-4">

    <div class="div-formulario">

      <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <span class="input-group-text">0.00</span>
        <input [(ngModel)]="name" type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
      </div>

    </div>

  </div>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>First name</mat-label>
    <input  matInput>
  </mat-form-field>







</div>
