@import '/src/styles.scss';

.example-spacer {
  flex: 1 1 auto;
}

.example-container {
  // width: 100vh;
  // height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
  background-color: $primary;
}

mat-sidenav-content{
  height: 100%;
  min-height: 100vh;
}
