
<!--
<mat-drawer-container [hasBackdrop]="true" class="example-container" autosize>
  <mat-drawer mode="over" #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>
  <mat-drawer-content>


  <router-outlet></router-outlet>
</mat-drawer-content>


</mat-drawer-container> -->



<!-- <mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer #drawer mode="over" class="d-flex flex-column bd-highlight p-2">
    <div class="d-block btn btn-warning m-1" (click)="drawer.toggle()" (click)="navegarPara([''])">
      Pagina Principal
    </div>
    <div class="d-block btn btn-danger m-1" (click)="drawer.toggle()" (click)="navegarPara(['pagina1'])">
      Pagina 1
    </div>
    <div class="d-block btn btn-primary m-1" (click)="drawer.toggle()" (click)="navegarPara(['pagina2'])">
      Pagina 2
    </div>

  </mat-drawer>
  <mat-drawer-content style="height: 93vh;">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container> -->


<mat-sidenav-container class="example-container" [hasBackdrop]="true">
  <mat-sidenav #sidenav mode="side" [opened]="false" class="example-sidenav"
               [fixedInViewport]="true" mode="over">
    <h1>Sistema Financeiro</h1>

    <div class="d-block btn btn-warning m-1" (click)="sidenav.toggle()" (click)="navegarPara([''])">
      Pagina Principal
    </div>
    <div class="d-block btn btn-danger m-1" (click)="sidenav.toggle()" (click)="navegarPara(['pagina1'])">
      Pagina 1
    </div>
    <div class="d-block btn btn-primary m-1" (click)="sidenav.toggle()" (click)="navegarPara(['pagina2'])">
      Pagina 2
    </div>
  </mat-sidenav>

  <mat-sidenav-content style="height: 100%; min-height: 100vh;">




    <mat-toolbar>
      <button mat-icon-button (click)="sidenav.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Sistema Financeiro</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>






    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
